body {
    margin: 20px;
    min-height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.square {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    font-weight: bold;
    background-color: white;
}

.board {
    margin: 30px;
    padding: 0;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}
.game {
  display: flex;
}